
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bienteswebsite</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>M&B Festivals</h1>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/info">Info</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/regels">Regels</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/aboutus">About us</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </header>
    
</div>

    @RenderBody()    

    <footer>
        
    </footer>
</body>
</html>
