<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bienteswebsite</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>M&B Festivals</h1>
        <ul>
            <li><a href="/homepage">Homepage</a></li>
            <li><a href="/prijzen">Prijzen</a></li>
            <li><a href="/data">Data</a></li>
            <li><a href="/locaties">Locaties</a></li>
            <li><a href="/regels">Regels</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </header>
    @RenderBody()    
</body>
</html>
