
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bienteswebsite</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    <header>
        <h1>M&B Festivals</h1>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/festivals">Festivals</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/regels">Regels</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/aboutus">About us</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </header>
    
</div>

    @RenderBody()    

<footer>
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Untitled</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
</body>
</html>
