@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>About us</h2>
<div class="container">
    <h2>Maudien Smittenaar</h2>
    <p class="title">CEO & Founder</p>
    <p>structureel, planner, ontwerper</p>
    <p>email</p>
</div>
<div class="container">
    <h2>Biente Dungelmann</h2>
    <p class="title">CEO & Founder</p>
    <p>creatief, meedenkend, programmeur</p>
    <p>email</p>
</div>
    
        
