<body>
    <h2>Contact</h2>
    <p>
        <div class="container">
            <form action="action_page.php">

                <label for="firstname">Voornaam:</label>
                <input type="text" id="firstname" name="firstname" placeholder="Your name...">

                <label for="lastname">Achternaam:</label>
                <input type="text" id="lastname" name="lastname" placeholder="Your last name...">

                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Your email...">

                <label for="subject">Opmerkingen:</label>
                <textarea id="subject" name="subject"></textarea>

                <input type="submit" value="Submit">

            </form>
        </div>
    </p>
</body>

