
<body>
    <h2>Contact</h2>
    <p>
        <div class="container">
            <form action="action_page.php">

                <label for="firstname">Voornaam:</label>
                <input type="text" id="firstname" name="firstname" placeholder="Uw voornaam">

                <label for="lastname">Achternaam:</label>
                <input type="text" id="lastname" name="lastname" placeholder="Uw achternaam">

                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Uw email">

                <label for="subject">Opmerkingen:</label>
                <textarea id="subject" name="subject" placeholder="Uw opmerking"></textarea>

                <input type="submit" value="Verzenden">

            </form>
        </div>
    </p>
</body>

