@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>FAQ</h2>
<p>Zie hieronder de meest voorkomende vragen. We hopen je hierbij geholpen te hebben!</p>
<ol>
    1. <strong>Gaan de festivals wel door, gezien corona?</strong> Wij zijn ervan overtuigd dat de festivals gewoon door kunnen gaan en tot nu toe is daat ook van Rutte heeeft gezegd.
</ol>
<ol>
    2. <strong>Ik heb mijn kaartje van vorig jaar nog, geldt die nu voor komend jaar?</strong> Ja, alle kaartjes van vorig jaar zijn automatisch omgezet in een kaartje voor 2021. Wil je dit niet, stuur dan een email naar ons en dan kunnen wij je verder helpen.
</ol>
<ol>
    3. <strong>Hoe kan ik mijn kaartje doorverkopen aan iemand anders?</strong> Stuur ons een email en dan kunnen we dat samen makkelijk oplossen.
</ol>
<ol>
    4. <strong>Moet ik de minimale leeftijd zijn als ik het kaartje koop?</strong> Nee, bij de ingang van het festival moet je de minimale leeftijd zijn.
</ol>
<ol>
    5. <strong>Kan ik nu een kaartje reserveren en later betalen?</strong> Nee, bij reservering van het kaartje moet gelijk betaald worden.
</ol>
<p>Hebben deze antwoorden je niet geholpen? Neem contact met ons op door ons een mailtje te sturen of klik hieronder om naar de contact pagina te gaan.</p>
<p>
    <a href="/contact">klik hier.</a>
</p>    