@using Bienteswebsite.Database
@model List<Festival>
@{
    ViewData["Title"] = "Festival";
}
<h2>Festivals</h2>

<div class="festivals">
    @foreach (Festival fiets in Model)
    {
    <div class="festival">
        <a href="https://localhost:44367/festival/@fiets.Id"><img src="@fiets.Logo" /></a>
        <p><a href="https://localhost:44367/festival/@fiets.Id">@fiets.Naam</a></p>
    </div>
    }
</div>