@model List<String>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    
    @foreach(string naam in Model)
    { 
        <h3>@naam</h3> 
    }
</div>
<head>
    <link rel="stylesheet" href="/css/site.css">
</head>

<div class="header">
    <id =”nav”>

       
</div>

<div class="footer">
    
</div>

