@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <link rel="stylesheet" href="site.css"
    <title>M&B Festivals</title>
    <nav>Homepage</nav>
    <p1>Heb jij ook zo'n zin in een festival? Wij organiseren festivals op het strand voor jou! Check op deze website de data en de locaties en kom met je vrienden naar het beachfestival bij jou in de buurt! Wij hebber er zin in, zien we je daar? Ben je benieuwd naar het festival? Kijk dan hieronder naar een aantal foto's van onze eerdere festivals en onze ideeën voor de komende festivals!</p1>
    <nav>Prijzen</nav>
    <nav>Data</nav>
    <nav>Regels</nav>
    <nav>Locaties</nav>
    <footer>Contact</footer>
</div>
