@model List<String>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">

    @foreach (string naam in Model)
    {
        <p>@naam</p>
    }
</div>
<head>
    <link rel="stylesheet" href="/css/site.css">
</head>

<div class="header">
    <id =”nav”>


</div>

<div class="footer">

</div>

