@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <link rel="stylesheet" href="site.css"
    <title>M&B Festivals</title>
    <h2><a href="/homepage">Homepage</a></h2>
    <h2><a href="/prijzen">Prijzen</a></h2>
    <h2><a href="/data">Data</a></h2>
    <h2><a href="/regels">Regels</a></h2>
    <h2><a href="/locaties">Locaties</a></h2>
    <h2><footer>Contact</footer></h2>
</div>
