@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="/css/site.css">
</head>

<div class="header">
    <id =”nav”>

       
</div>

<div class="text-center">
    

</div>
