@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
 <id=”nav”> 

    <ul>
        <li><a href=”/homepage”>Homepage</a></li>
        <li><a href="/prijzen">Prijzen</a></li>
        <li><a href="/data">Data</a></li>
        <li><a href="/locaties">Locaties</a></li>
        <li><a href="/regels">Regels</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

</div>
