@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
 <id=”nav”> 

    <ul>
        <li><a href=”#”>Homepage</a></li>
        <li><a href=”#”>Prijzen</a></li>
        <li><a href=”#”>Data</a></li>
        <li><a href="#">Locaties</a></li>
        <li><a href="#">Regels</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

</div>
