@using Bienteswebsite.Database
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
}


<div class="header">
    <id =”nav”></id>
</div>

<div class="footer">

</div>

<p>
    Welkom op de website van M&B Beach Festivals! Hier kunt U alle leuke festivals vinden die aankomende periode plaats zullen vinden.
    Heeft u vragen of wilt U contact met ons opnemen ga dan naar de contact pagina en vul de gegevens in.
</p>

@foreach (Festival f in Model)
{
    <div class="responsive" style="background-image:url(@f.Foto)">
        <div class="gallery">    
          
            <a href="/festival/@f.Id" class="desc">@f.Naam</a>
        </div>
    </div>
}

<div class="clearfix"></div>
