@using Bienteswebsite.Database
@model List<Festival>
@{
    ViewData["Title"] = "Festival";
}
<h2>Info</h2>

<div class="festivals">
    @foreach (Festival fiets in Model)
    {
        <div class="festival">
            <p>@fiets.Naam</p>
            <price>@fiets.Prijs</price>
            <p>@fiets.Locatie</p>
            <p>@fiets.Logo</p>
        </div>
    }
</div>