@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SchoolTemplate.Database.Festival
@{
    ViewData["Title"] = "Festival";
}
<h2>Info</h2>
<h1>@Model.Naam</h1>
"<h3>@ViewData["id"]</h3>"
<p>@Model.Beschrijving</p>