@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" href="/css/index.css">
</head>
<h2>Login</h2>
<div class="login-content">

    <h2 class="titel">@ViewData["Title"]</h2>
    <div class="container contactForm">
        <form method="post">
            <form method="post">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Uw email">
                <label for="email">Wachtwoord:</label>
                <input type="text" id="wachtwoord" name="wachtwoord" placeholder="Uw wachtwoord">
                <div><input type="submit" value="Log in" /></div>
            </form>
            <p><a class="account" href="https://localhost:44367/Signup">Klik hier om een account aan te maken.</a></p>
        </form>
    </div>
