@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Regels</h2>
<html>
<head>
    <meta charset="utf-8">
    <title>Basic lists</title>
</head>
<body>
    <dt>
        Hier kunt u de regels voor de festivals vinden. Deze regels zijn opgesteld zodat iedereen een veilig en fijn festival kan ervaren. Gezien de omstandigheden omtrent Corona is het belangrijk dat iedereen zich aan de gegeven regels houdt. De regels zijn :
        </dt>
        <dl>
            <dd>Maximaal 500 personen op het festival</dd>
            <dd>Maximaal 100 mensen per aangegeven zone.</dd>
            <dd>De duidelijk aangegeven looproutes altijd volgen wanneer U zich verplaats over het terrein.</dd>
            <dd>Maximaal 5 mensen tegelijkertijd in de wc ruimte</dd>
            <dd> Maximaal 10 personen bij de VIP rondleiding onder begeleiding van 1 begeleider.</dd>
        </dl>
</body>
</html>
