@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Sign up</h2>
<h2 class="titel">@ViewData["Title"]</h2>
<div class="container contactForm">
    <form method="post">
        <label for="email">Voornaam:</label>
        <input type="text" id="firstname" name="firstname" placeholder="Uw voornaam">
        <label for="email">Achternaam:</label>
        <input type="text" id="lastname" name="lastname" placeholder="Uw achternaam">
        <label for="email">Emailadres:</label>
        <input type="text" id="email" name="email" placeholder="Uw emailadres">
        <label for="email">Wachtwoord:</label>
        <input type="text" id="wachtwoord" name="password" placeholder="Uw wachtwoord">
            <div><input type="submit" value="Sign up" /></div>
     </form>
        <p><a class="account" href="https://localhost:44367/Login">Klik hier om in te loggen.</a></p>
</div>
</div>