
    div.gallery:hover {
        border: 1px solid #c2c2c;
    }

div.gallery img {
    width: 100%;
    height: auto;
    margin: 15px;
}

.gallery {
    background-color: #ffffffb3;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0
}

div.desc {
    padding: 15px;
    text-align: center;
    margin: 15px;
}

.responsive {
    position: relative;
    padding: 0 6px;
    float: left;
    width: 48.99999%;
    height: 144px;
    background-position: center center;
    background-size: cover;
    margin: 5px;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
