header {
    background-image: url(https://i-mom.unimedias.fr/2020/09/16/funko_pop_figurines_soignants_covid19_4_1.png?auto=format%2Ccompress&crop=faces&cs=tinysrgb&fit=max&w=1050);
}

    #header ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background: white;
        float: left;
        width: 100%;
    }

    #header li {
        float: left;
        margin: 0 1em 0 0;
    }

    #header a {
        text-decoration: none;
        display: block;
        width: 6em;
        padding: 0 0.5em;
        font-weight: bold;
        color: black;
    }

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
    background-color: lightcyan;
    border-right: solid 2px #fff;
    width: 100px; 
}

a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px;
}

h2 {
    position: fixed;
    width: 100%;
    background-color: pink;
}

p {
    position: absolute;
}

h2 {
    text-align: left;
}

footer {
    background-color: aqua;
}

input[type=text] {
    width: 100%;
    float: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=texxt]focus {
    border-color: black;
}



